body {
  background: green;
  margin: 40px;
}
.card {
  background: white;
  margin: auto;
  width: 300px;
  height: 500px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
#top-suit {
  width: 280px;
  height: 80px;
  font-size: 80px;
  padding-left: 20px;
}
#number {
  width: 300px;
  height: 270px;
  font-size: 100px;
  text-align: center;
  padding-top: 110px;
}
#bottom-suit {
  width: 280px;
  height: 60px;
  font-size: 80px;
  text-align: left;
  padding-right: 10px;
  transform: rotate(180deg);
}
